.nav-container {
    display: flex;
    justify-content: space-around;
    background: #2C2D36;
    color: #6F6F77;
    font-size: small;
    padding: 20px;
    width: 100%;

}

.nav-container ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;

}

.nav-container li {
    padding: 0 10px 0 10px
}